.dashboard{
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.dashboard-header{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 200px;
  padding: 10px;

  .part-one{
    display: flex;
    align-items: center;
    gap: 30px;

    .dots-colored{
      display: flex;
      gap: 10px;
      align-items: center;

      .dot-c{
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      .dot-c:nth-child(1){
        background-color: red;
      }
      .dot-c:nth-child(2){
        background-color: yellow;
      }
      .dot-c:nth-child(3){
        background-color: green;
      }
    }
  }

  .part-two{
    display: flex;
    align-items: center;
    gap: 20px;

    .domain{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 7px 200px;
      background: grey;

      img{
        width: 15px;
      }

      .imazhi-dy{
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translateY(-50%);
      }
    }
  }
  
}