@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$primary-color: #2247ec;
$body-color: #0c0a2a;

body{
  background: $body-color;
}
.header-main{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: "Poppins" , sans-serif;
  align-items: center;

  .header-logo{
    img{
      width: 25px;
    }
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    h3{
      font-size: 13px;
      color: white;
      font-weight: bolder;
    }
    span{
      font-weight: normal;
    }
  }

  .header-buttons{
    display: flex;
    align-items: center;
    gap: 10px;

    button{
      padding: 8px 15px;
      border-radius: 15px;
      outline: none;
      border: none;
      color: white;
      background: transparent;
    }
    .light-dark-btn img{
      width: 20px;
    }

    .burger-btn{
     display: none;
    }


    @media screen and (max-width: 720px){
      button:nth-child(4), button:nth-child(1), button:nth-child(5){
        display: none;
      }
      .burger-btn{
        width: 25px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .burger-line{
          width: 100%;
          height: 1px;
          border: 1px solid white;
          background: white;
        }
      }
    }
    button:nth-child(4){
      background: $primary-color;
    }
    button:nth-child(1){
      border: 1px solid #ccc;
    }
  }


  
  @media screen and (max-width: 720px){
    .header-logo{
      z-index: 110000 !important;
    }
  }
  @media screen and (max-width: 420px){
    background: red;
  }


}