.purchase-history-table{
    width: 100%;
    text-align: center;
}

.purchase-history-table tbody td{
    padding: 10px 10px;
}

.purchase-history-table thead th{
background-color: #F5F5F5;
padding: 10px;
}